.home-content-container {
  display: flex;
}

.home-content-container li {
  list-style-type: none;
}

.order-sizes-container {
  display: flex;
  justify-content: space-between;
}

.order-toppings-container {
  display: flex;
  justify-content: space-between;
}

.prices-text {
  padding-left: 50px;
}

.align-right {
  text-align: right;
}

.display-orders-container {
  padding-left: 50px;
}